{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "react/prop-types": "off",
    "no-plusplus": "off"
  }
}