{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "plugins": ["jest"],
  "env": {
    "jest": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}